[site]
title = Flask Dashboard
name_1 = Flask
name_2 = Dashboard
bind_ip = 0.0.0.0
bind_port = 8443
session_type = filesystem
# secret_key = Can also be set via env var SITE_SECRET_KEY

[auth]
# client_id = Can also be set via env var AUTH_CLIENT_ID
# client_secret = Can also be set via env var AUTH_CLIENT_SECRET
# api_base_url = https://foo.us.auth0.com
# access_token_url = https://foo.us.auth0.com/oauth/token
# authorize_url = https://foo.us.auth0.com/authorize
callback_url = http://127.0.0.1:8443/callback
logout_redirect_url = https://foo.app/
groups_claim = https://foo.app/claims/groups
